---
---

@import "{{ site.theme }}";
header {
  position: fixed;
  z-index: +1; 
  width: 100vw;
  heigth: 20vh;
  top: 0;
}
aside#sidebar {
  font-size: 15px ! important;
  width: 20% ! important;
}
.inner {
  width: 65% ! important;
}
#content-wrapper {
  padding-top: 20vh;
}
#main-content {
  width: 70% ! important;
}

