---
---

@import "{{ site.theme }}";
aside#sidebar {
  font-size: 15px ! important;
  width: 20% ! important;
}
.inner {
  width: 65% ! important;
}
#main-content {
  width: 70% ! important;
}
header {
  position: fixed;
  z-index: +1; 
  width: 100%;
  top: 0;
}
